In [6]:
import pandas as pd
import seaborn as sns
planets = sns.load_dataset("planets")
df = planets.copy()
df.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [8]:
# hiç eksik gözlem var mı?

In [10]:
df.isnull().values.any()  #True döndürürse eksik gözlem olduğu anlamına gelir

True

In [11]:
# hangi değişkende kaçar tane var

In [13]:
df.isnull().sum()

method              0
number              0
orbital_period     43
mass              522
distance          227
year                0
dtype: int64

### Eksikliğin giderilmesi için hızlı çözümler

In [15]:
df["orbital_period"].fillna(0, inplace = True)

In [17]:
df.isnull().sum() #Eksik değerler 0 oldu

method              0
number              0
orbital_period      0
mass              522
distance          227
year                0
dtype: int64

In [20]:
df["mass"].fillna(df.mass.mean(), inplace = True) #değişken bazlı ortalama ile doldurduk

In [21]:
df.isnull().sum()

method              0
number              0
orbital_period      0
mass                0
distance          227
year                0
dtype: int64

In [24]:
df.fillna(df.mean(), inplace = True) # inplace argümanı veriye yapılan işlemleri veriye kaydediyor. İnplace argüma nı ile kaydettik ve vei yapısını bozk şim di geri alacağız

In [25]:
planets = sns.load_dataset("planets")
df = planets.copy()

In [26]:
df.isnull().sum()

method              0
number              0
orbital_period     43
mass              522
distance          227
year                0
dtype: int64

In [27]:
#Eski haline geri geldi