### Veriye İlk  Bakış

#### Veri Seti Hikayesi  ve Yapısının İncelenmesi

In [14]:
df = pd.read_excel("C:/Users/ozcan/Desktop/dataset.xlsx")
df.head()

,yaş,cinsiyet,göğüsağrısı,kanbasıncı,kolestrol,kanşsekeri,kalpatıs,hedef
0,52,Erkek,ASYMPTOMATIC,125,212,<=120,168,Hayır
1,53,Erkek,ASYMPTOMATIC,140,203,>120,155,Hayır
2,70,Erkek,ASYMPTOMATIC,145,174,<=120,125,Hayır
3,61,Erkek,ASYMPTOMATIC,148,203,<=120,161,Hayır
4,62,Kadın,ASYMPTOMATIC,138,294,>120,106,Hayır

#### veri setinin hikayesi nedir?

In [16]:
result = df.copy() #ilk olarak veriyi kopyala

In [17]:
result.head()

,yaş,cinsiyet,göğüsağrısı,kanbasıncı,kolestrol,kanşsekeri,kalpatıs,hedef
0,52,Erkek,ASYMPTOMATIC,125,212,<=120,168,Hayır
1,53,Erkek,ASYMPTOMATIC,140,203,>120,155,Hayır
2,70,Erkek,ASYMPTOMATIC,145,174,<=120,125,Hayır
3,61,Erkek,ASYMPTOMATIC,148,203,<=120,161,Hayır
4,62,Kadın,ASYMPTOMATIC,138,294,>120,106,Hayır

In [18]:
result.tail()

,yaş,cinsiyet,göğüsağrısı,kanbasıncı,kolestrol,kanşsekeri,kalpatıs,hedef
1009,59,Erkek,ATYPICAL ANGINA,140,221,<=120,164,Evet
1010,60,Erkek,ASYMPTOMATIC,125,258,<=120,141,Hayır
1011,47,Erkek,ASYMPTOMATIC,110,275,<=120,118,Hayır
1012,50,Kadın,ASYMPTOMATIC,110,254,<=120,159,Evet
1013,54,Erkek,ASYMPTOMATIC,120,188,<=120,113,Hayır

In [19]:
# veri seti yapısal  bilgileri

In [21]:
result.info() #yapısal bilgileri verir

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1014 entries, 0 to 1013
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   yaş          1014 non-null   int64
 1   cinsiyet     1014 non-null   object
 2   göğüsağrısı  1014 non-null   object
 3   kanbasıncı   1014 non-null   int64
 4   kolestrol    1014 non-null   int64
 5   kanşsekeri   1014 non-null   object
 6   kalpatıs     1014 non-null   int64
 7   hedef        1014 non-null   object
dtypes: int64(4), object(4)
memory usage: 63.5+ KB

In [23]:
result.dtypes

yaş             int64
cinsiyet       object
göğüsağrısı    object
kanbasıncı      int64
kolestrol       int64
kanşsekeri     object
kalpatıs        int64
hedef          object
dtype: object

In [24]:
# Objectleri kategotiğe dönüştürme işlemi

In [26]:
result.cinsiyet = pd.Categorical(result.cinsiyet)
result.göğüsağrısı = pd.Categorical(result.göğüsağrısı)
result.kanşsekeri = pd.Categorical(result.kanşsekeri)
result.hedef = pd.Categorical(result.hedef)

In [28]:
result.dtypes

yaş               int64
cinsiyet       category
göğüsağrısı    category
kanbasıncı        int64
kolestrol         int64
kanşsekeri     category
kalpatıs          int64
hedef          category
dtype: object

In [29]:
result.head()

,yaş,cinsiyet,göğüsağrısı,kanbasıncı,kolestrol,kanşsekeri,kalpatıs,hedef
0,52,Erkek,ASYMPTOMATIC,125,212,<=120,168,Hayır
1,53,Erkek,ASYMPTOMATIC,140,203,>120,155,Hayır
2,70,Erkek,ASYMPTOMATIC,145,174,<=120,125,Hayır
3,61,Erkek,ASYMPTOMATIC,148,203,<=120,161,Hayır
4,62,Kadın,ASYMPTOMATIC,138,294,>120,106,Hayır