In [1]:
import pandas as pd
import seaborn as sns

In [3]:
result = pd.read_excel("C:/Users/ozcan/Desktop/dataset.xlsx")
df = result.copy()

In [4]:
df.head()

,yaş,cinsiyet,göğüsağrısı,kanbasıncı,kolestrol,kanşsekeri,kalpatıs,hedef
0,52,Erkek,ASYMPTOMATIC,125,212,<=120,168,Hayır
1,53,Erkek,ASYMPTOMATIC,140,203,>120,155,Hayır
2,70,Erkek,ASYMPTOMATIC,145,174,<=120,125,Hayır
3,61,Erkek,ASYMPTOMATIC,148,203,<=120,161,Hayır
4,62,Kadın,ASYMPTOMATIC,138,294,>120,106,Hayır

In [8]:
df.shape #Gözlem boyutu ve değişken sayısı

(1014, 8)

In [9]:
df.columns # değişken isimleri

Index(['yaş', 'cinsiyet', 'göğüsağrısı', 'kanbasıncı', 'kolestrol',
       'kanşsekeri', 'kalpatıs', 'hedef'],
      dtype='object')

In [12]:
df.describe().T #Eksik gözlemleri göz ardı eder ve kategorik değişkenleri dışarıda bırakır

             count        mean        std    min     25%    50%    75%    max
yaş         1014.0   54.388560   9.094378   29.0   47.25   56.0   61.0   77.0
kanbasıncı  1014.0  131.218935  16.729761   94.0  120.00  130.0  140.0  180.0
kolestrol   1014.0  244.730769  48.741167  126.0  211.00  239.0  274.0  417.0
kalpatıs    1014.0  148.988166  22.954521   71.0  132.00  152.0  166.0  202.0