In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("nba.csv")
df.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [6]:
df.shape

(458, 9)

In [7]:
df.columns

Index(['Name', 'Team', 'Number', 'Position', 'Age', 'Height', 'Weight',
       'College', 'Salary'],
      dtype='object')

In [9]:
df.head(10)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
5,Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,NaN,12000000.0
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
8,Terry Rozier,Boston Celtics,12.0,PG,22.0,6-2,190.0,Louisville,1824360.0
9,Marcus Smart,Boston Celtics,36.0,PG,22.0,6-4,220.0,Oklahoma State,3431040.0

In [13]:
#toplam kaç kayıt var
len(df.index)

458

In [16]:
#Tüm oyuncuların toplam maaş ortalaması nedir ?
result = df["Salary"].mean()
print(result)

4842684.105381166

In [18]:
#En yüksek maaşı ne kadardır ?
result = df["Salary"].max()
print(result)

25000000.0

In [23]:
#En yüksek maaşı alan oyuncu kimdir ?
result = df[df["Salary"] == df["Salary"].max()]["Name"].iloc[0]
print(result)

Kobe Bryant

In [34]:
#Yaşı 20-25 arasında olan oyuncuların isim ve oynadıkları takımları azalan şekilde sıralı getiriniz.
result = df[(df["Age"] >= 20) & (df["Age"] <= 25)][["Name","Team","Age"]].sort_values("Age")
print(result)

                 Name                    Team   Age
192   Stanley Johnson         Detroit Pistons  20.0
116  D'Angelo Russell      Los Angeles Lakers  20.0
401        Tyus Jones  Minnesota Timberwolves  20.0
85       Kevon Looney   Golden State Warriors  20.0
393   Emmanuel Mudiay          Denver Nuggets  20.0
..                ...                     ...   ...
136        Quincy Acy        Sacramento Kings  25.0
130      Phil Pressey            Phoenix Suns  25.0
126      John Jenkins            Phoenix Suns  25.0
407       Ricky Rubio  Minnesota Timberwolves  25.0
0       Avery Bradley          Boston Celtics  25.0

[197 rows x 3 columns]

In [38]:
#John Holland" isimli oyuncunun oynadığı takım hangisidir ?
result = df[df["Name"] == "John Holland"]["Team"].iloc[0]
print(result)

Boston Celtics

In [40]:
#Takımlara göre oyuncuların ortalama maaş bilgisi nedir ?
result = df.groupby("Team").mean()["Salary"]
print(result)

Team
Atlanta Hawks             4.860197e+06
Boston Celtics            4.181505e+06
Brooklyn Nets             3.501898e+06
Charlotte Hornets         5.222728e+06
Chicago Bulls             5.785559e+06
Cleveland Cavaliers       7.642049e+06
Dallas Mavericks          4.746582e+06
Denver Nuggets            4.294424e+06
Detroit Pistons           4.477884e+06
Golden State Warriors     5.924600e+06
Houston Rockets           5.018868e+06
Indiana Pacers            4.450122e+06
Los Angeles Clippers      6.323643e+06
Los Angeles Lakers        4.784695e+06
Memphis Grizzlies         5.467920e+06
Miami Heat                6.347359e+06
Milwaukee Bucks           4.350220e+06
Minnesota Timberwolves    4.593054e+06
New Orleans Pelicans      4.355304e+06
New York Knicks           4.581494e+06
Oklahoma City Thunder     6.251020e+06
Orlando Magic             4.297248e+06
Philadelphia 76ers        2.213778e+06
Phoenix Suns              4.229676e+06
Portland Trail Blazers    3.220121e+06
Sacramento Kings          4.778911e+06
San Antonio Spurs         5.629516e+06
Toronto Raptors           4.741174e+06
Utah Jazz                 4.204006e+06
Washington Wizards        5.088576e+06
Name: Salary, dtype: float64

In [41]:
#kaç farklı takım mevcut
result = len(df.groupby("Team"))
print(result)

30

In [45]:
#her takımda kaç oyuncu oynamaktadır
result = df["Team"].value_counts()
print(result)

New Orleans Pelicans      19
Memphis Grizzlies         18
New York Knicks           16
Milwaukee Bucks           16
Oklahoma City Thunder     15
Charlotte Hornets         15
Miami Heat                15
Golden State Warriors     15
Toronto Raptors           15
Cleveland Cavaliers       15
Dallas Mavericks          15
Portland Trail Blazers    15
Los Angeles Clippers      15
Chicago Bulls             15
Los Angeles Lakers        15
Phoenix Suns              15
Brooklyn Nets             15
Denver Nuggets            15
Sacramento Kings          15
Indiana Pacers            15
Washington Wizards        15
Utah Jazz                 15
Philadelphia 76ers        15
Boston Celtics            15
Houston Rockets           15
Atlanta Hawks             15
Detroit Pistons           15
San Antonio Spurs         15
Minnesota Timberwolves    14
Orlando Magic             14
Name: Team, dtype: int64